<p id="notice"><%= notice %></p>

<p>
  <b>Asset:</b>
  <%= @position.asset_id %>
</p>

<p>
  <b>Holding percentage:</b>
  <%= @position.holding_percentage %>
</p>


<%= link_to 'Edit', edit_position_path(@position) %> |
<%= link_to 'Back', positions_path %>
