<h1>Shiller Price Earning Data (1871 - Present)</h1>

<table class='ac-standard'>
	<thead>
		<tr>
			<th>Date</th>
			<th>S&P</th>
			<th>Div.</th>
			<th>Earn.</th>
			<th>Cpi</th>
			<th>10 Yr Rate</th>
			<th>Price (Real)</th>
			<th>Div. (Real)</th>
			<th>Earn. (Real)</th>
			<th>10 Yr P/Er</th>
			<th>Monthly Ret.</th>
			<th>Equity Risk Yield</th>
			<th>Div. Yield</th>
			<th>Earn. Yield</th>
			<th>Inflation</th>
		</tr>
	</thead>

	<tbody>
		<% @macrovals.each do |macroval| %>
		  <tr>
		    <td class="decimal"><%= number_with_precision( macroval.year_month,			:precision => 2	) %></td>
		    <td class="decimal"><%= number_with_precision( macroval.spcomposite,		:precision => 2	) %></td>
		    <td class="decimal"><%= number_with_precision( macroval.dividends,			:precision => 2	) %></td>
		    <td class="decimal"><%= number_with_precision( macroval.earnings,			:precision => 2	) %></td>
		    <td class="decimal"><%= number_with_precision( macroval.cpi,				:precision => 1	) %></td>
		    <td class="decimal"><%= number_with_precision( macroval.ten_year_rate,		:precision => 2	) %></td>
		    <td class="decimal"><%= number_with_precision( macroval.price_real,			:precision => 1	) %></td>
		    <td class="decimal"><%= number_with_precision( macroval.dividends_real,		:precision => 1 ) %></td>
		    <td class="decimal"><%= number_with_precision( macroval.earnings_real,		:precision => 1 ) %></td>
		    <td class="decimal"><%= number_with_precision( macroval.pe_tenyear, 		:precision => 1 ) %></td>
		    <td class="decimal"><%= number_with_precision( macroval.monthly_return, 	:precision => 1 ) %></td>
		    <td class="decimal"><%= number_with_precision( macroval.equity_risk_yield,	:precision => 1	) %></td>
		    <td class="decimal"><%= number_with_precision( macroval.dividend_yield,		:precision => 1	) %></td>
		    <td class="decimal"><%= number_with_precision( macroval.earnings_yield,		:precision => 1	) %></td>
		    <td class="decimal"><%= number_with_precision( macroval.inflation,			:precision => 1	) %></td>
		  </tr>
		<% end %>	
	</tbody>

</table>

<br />

<%= link_to 'New Macroval', new_macroval_path %>
