<p id="notice"><%= notice %></p>

<p>
  <b>Year month:</b>
  <%= @macroval.year_month %>
</p>

<p>
  <b>Spcomposite:</b>
  <%= @macroval.spcomposite %>
</p>

<p>
  <b>Dividends:</b>
  <%= @macroval.dividends %>
</p>

<p>
  <b>Earnings:</b>
  <%= @macroval.earnings %>
</p>

<p>
  <b>Cpi:</b>
  <%= @macroval.cpi %>
</p>

<p>
  <b>Date fraction:</b>
  <%= @macroval.date_fraction %>
</p>

<p>
  <b>Ten year rate:</b>
  <%= @macroval.ten_year_rate %>
</p>

<p>
  <b>Price real:</b>
  <%= @macroval.price_real %>
</p>

<p>
  <b>Dividends real:</b>
  <%= @macroval.dividends_real %>
</p>

<p>
  <b>Earnings real:</b>
  <%= @macroval.earnings_real %>
</p>

<p>
  <b>Pe tenyear:</b>
  <%= @macroval.pe_tenyear %>
</p>

<p>
  <b>Monthly return:</b>
  <%= @macroval.monthly_return %>
</p>

<p>
  <b>One year return:</b>
  <%= @macroval.one_year_return %>
</p>

<p>
  <b>Three year return:</b>
  <%= @macroval.three_year_return %>
</p>

<p>
  <b>Equity risk yield:</b>
  <%= @macroval.equity_risk_yield %>
</p>

<p>
  <b>Dividend yield:</b>
  <%= @macroval.dividend_yield %>
</p>

<p>
  <b>Earnings yield:</b>
  <%= @macroval.earnings_yield %>
</p>

<p>
  <b>Inflation:</b>
  <%= @macroval.inflation %>
</p>


<%= link_to 'Edit', edit_macroval_path(@macroval) %> |
<%= link_to 'Back', macrovals_path %>
