<h1>Listing portfolios</h1>

<table class="nostradamus-standard">
	<thead>
		<tr>
			<th>Name</th>
			<th>Assets</th>
		</tr>
	</thead>

	<tbody>
		<% @portfolios.each do |portfolio| %>
			<tr>
				<td					><%= link_to portfolio.name, portfolio %></td>
				<td align="right"	><%= portfolio.positions.length %></td>
				<td					><%= link_to 'Edit', portfolio %></td>
				<td					><%= link_to 'Matrix', custom_path(:period =>  91, :portfolio => portfolio) %></td>
				<td					><%= link_to '[x]', portfolio, confirm: 'Are you sure?', method: :delete %></td>
			</tr>
		<% end %>	
	</tbody>
</table>

<br />

<%= link_to 'New Portfolio', new_portfolio_path %>
