<p id="notice"><%= notice %></p>

<h1><%= @portfolio.name %></h1>

<table class="nostradamus-standard">
	<thead>
		<tr>
			<th>Asset Name</th>
			<th>Ticker</th>
			<th>Shares</th>
			<th>Price</th>
			<th>% of Port</th>
		</tr>
	</thead>
	<tbody>
		<% for p in @portfolio.positions %>
		<tr>
			<td> <%= p.asset.name   %></td>
			<td> <%= p.asset.ticker %></td>
			<td>  </td>
			<td>  </td>
			<td align="right"> <%= p.holding_percentage %></td>				
		</tr>
		<% end %>
	</tbody>
</table>


<%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
<%= link_to 'Back', portfolios_path %>
