<p id="notice"><%= notice %></p>

<h1><%= @portfolio.name %></h1>

<table class="nostradamus-standard">
	<thead>
		<tr>
			<th>Ticker</th>
			<th>Shares</th>
			<th>Asset Name</th>
			<th>Price</th>
			<th>% of Port</th>
		</tr>
	</thead>
	<tbody>
		<% for p in @portfolio.positions %>
		<tr>
			<td align="center">	<%= p.asset.ticker unless !p.asset %></td>
			<td align="right" >	<%= p.shares %> </td>
			<td align="left"  >	<%= p.asset.name unless !p.asset   %></td>
			<td>  													</td>
			<td align="right">	<%= p.holding_percentage %></td>
				
    		<td><%= link_to '[x]', p, :method => :delete, :remote => true, :class => 'delete-position', 'data-type' => 'json' %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<%= nested_form_for @portfolio  do |f| %>
    
	
	<p><%= f.link_to_add "Add a Position", :positions, :class => 'asset-add-link' %></p>  
  
  	<%= f.submit "Update Portfolio" %>
  	
<% end %>

<br/>

<%= link_to 'Edit', 	edit_portfolio_path(@portfolio) %> |
<%= link_to 'Back',		portfolios_path %> |
<%= link_to 'Matrix', 	custom_path(:period =>  91, :portfolio => @portfolio) %>

<script type="text/javascript">
	$(document).ready(function(){
	
	  $('.delete-position')

	    .live("ajax:success", function(evt, data, status, xhr){
	      $position = $(this).closest('tr').fadeOut();			
	    })
	    
	    .live("ajax:error", function(evt, xhr, status, error){
	      var $form = $(this),
	          errors,
	          errorText;
	
	      try {
	        // Populate errorText with the comment errors
	        errors = $.parseJSON(xhr.responseText);
	      } catch(err) {
	        // If the responseText is not valid JSON (like if a 500 exception was thrown), populate errors with a generic error message.
	        errors = {message: "Please reload the page and try again"};
	      }
	
	      // Build an unordered list from the list of errors
	      errorText = "There were errors with the submission: \n<ul>";
	
	      for ( error in errors ) {
	        errorText += "<li>" + error + ': ' + errors[error] + "</li> ";
	      }
	
	      errorText += "</ul>";
	
	      // Insert error list into form
	      $form.find('div.validation-error').html(errorText);
	    });
	    
	    
		$('.asset-ticker').livequery(function() {
		
			$(this).observe_field( 0.5, function() {
		  	
			  	var $assetRowSelector = $(this);
				
				$.get('/valid_asset', { query: this.value }, 
					function(data) {
						if(typeof(data) != 'undefined' && data != null) {
							$assetRowSelector.siblings('.asset-name').html(data.name).removeClass("input-error");;
							$assetRowSelector.siblings('.asset-num').val(data.id);							
						}
						else {
							$assetRowSelector.siblings('.asset-name').html('Invalid ticker').addClass("input-error");
							$assetRowSelector.siblings('.asset-num').val('-');								
						}
					}, "json" );
				});
		});	    

	    
	
	});
</script>

