<!--  Site: AssetCorrelation   Zone: My Site   Size: Leaderboard (728x90)  -->
<script type="text/javascript"><!--
	google_ad_client = "pub-3231194436906765";
	/* AssetCorrelation 728x90 */
	google_ad_slot = "6695247050";
	google_ad_width = 728;
	google_ad_height = 90;
	//-->
</script>
<script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
<!-- end Leaderboard ad -->


<div id="investment-list">

<!--
 ! Show Correlation Matrix
-->	

  <h1>Major Asset Class Correlation Matrix</h1>
  
  <p> 
  	The following table shows return correlations between various asset classes (as represented by
  	exchange traded funds) over the past <%=days_to_words(@period)%>.
  </p>

  <table cellpadding="6" cellspacing="1" border="1">

    <tr>
      <td></td>
	  <td></td>
      <% for index in 0...@corr_matrix.stock_names.length-1 %>
	    <td align="center"><%=@corr_matrix.stock_names[index]%></td>
	  <% end %>
	  <td align="center">Return<span class="superscript">1</span></td>
	  <td align="center">StdDev<span class="superscript">2</span></td> 
	</tr>
	
    <tr>
      <td align="left"><%=@quotes[@corr_matrix.stock_names[0]].name%></td>
	  <td align="center"><%=@corr_matrix.stock_names[0]%></td>
      <% for index in 0...@corr_matrix.stock_names.length-1 %>
	    <td></td>
	  <% end %>
		<td align="center"><%=number_with_precision(@corr_matrix.stock_returns[0], :precision => 1)%>%</td>
		<td align="center"><%=number_with_precision(@corr_matrix.stock_stddevs[0], :precision => 1)%>%</td>  
  	</tr>	

	<% for row in 0...@corr_matrix.stock_names.length-1 %>
	<tr>
		<td align="left"><%=@quotes[@corr_matrix.stock_names[row+1]].name%></td>
		<td align="center"><%=@corr_matrix.stock_names[row+1]%></td>
		<% for col in 0..row %>
	       <td align="center" <%=css_correlation(@corr_matrix[row,col])%>><%=number_with_precision(@corr_matrix[row,col], :precision => 2) %></td>  			
		<% end %>
		<% for blanks in row+1...@corr_matrix.stock_names.length-1 %>
		   <td align="center"></td>
		<% end %>
		<td align="center"><%=number_with_precision(@corr_matrix.stock_returns[row+1], :precision => 1)%>%</td>
		<td align="center"><%=number_with_precision(@corr_matrix.stock_stddevs[row+1], :precision => 1)%>%</td>
	</tr>
	<% end %>
  </table>

  <br>
	
  <table cellpadding="3" cellspacing="1" border="0">
  	<tr>
  		<td>Select Period:</em></td>
  		<td><%= link_to '1 Mo |', :action => 'correlations', :id =>   31 %></td>		
  		<td><%= link_to '3 Mo |', :action => 'correlations', :id =>   91 %></td>
  		<td><%= link_to '6 Mo |', :action => 'correlations', :id =>  183 %></td>
  		<td><%= link_to '1 Yr |', :action => 'correlations', :id =>  366 %></td>
		<td><%= link_to '2 Yr  ', :action => 'correlations', :id =>  731 %></td>       
	 </tr>
  </table>

  <br>     

  <table cellpadding="4" cellspacing="1" border="0">
  	<tr>
  		<td>Intra-portfolio diversification</td>
		<td>= <%=number_with_precision(@corr_matrix.diversification_measure, :precision => 1)%></td>
  	</tr>
	<tr>
		<td>Portfolio return</td>
		<td>= <%=number_with_precision(@corr_matrix.portfolio_return, :precision => 1)%>%</td>
	</tr>
	<tr>
		<td>Start Date</td>
		<td>= <%=@corr_matrix.start_date%></td>
	</tr>
	<tr>
		<td>End Date</td>
		<td>= <%=@corr_matrix.end_date%></td>
	</tr>	
  </table>

<br>
  
<p>
Each cell represents the correlation between the two corresponding assets. 
</p>

  <table cellpadding="6" cellspacing="1" border="1">

    <tr>
	  <td align="center"><b>Cell Color</b></td>
	  <td align="left"><b>Description</b></td>
	  <td align="left"><b>Diversification Benefit</b></td>
	</tr>
	
	<tr>
	  <td align="center" <%=css_correlation(-0.65)%>>-0.65</td>  			
      <td align="left">Asset pair with negative correlation</td> 
	  <td align="left">Excellent Diversification</td>
	</tr>
	
	<tr>
	  <td align="center" <%=css_correlation(-0.15)%>>-0.15</td>  			
      <td align="left">Asset pair with slight negative correlation</td> 
	  <td align="left">Good Diversification</td>
	</tr>
	
	<tr>
	  <td align="center" <%=css_correlation(0.2)%>>0.2</td>  			
      <td align="left">Asset pair with mild positive correlation</td> 
	  <td align="left">Moderate Diversification</td>
	</tr>
	
	<tr>
	  <td align="center" <%=css_correlation(0.8)%>>0.8</td>  			
      <td align="left">Asset pair with strong positive correlation</td> 
	  <td align="left">Poor Diversification</td>
	</tr>			
  </table>

	<h3>Notes</h3>
	
	<div><span class="superscript">1</span> Returns for periods greater than a year are annualized.</div>
	<div><span class="superscript">2</span> Standard deviations are for daily returns.</div>  

</div>


