<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title><%= Assetcorrelation %></title>

<meta name="distribution" content="all" />
<meta name="robots" content="all" />	
<meta name="resource-type" content="document" />
<meta name="MSSmartTagsPreventParsing" content="true" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta name="description" content="A macro approach to investing" />	
<meta name="keywords" content="diversification, asset correlation" />	

<!-- Rails 3 XSS protection -->
<%= csrf_meta_tags %>

<!-- Main Stylesheet -->
<%= stylesheet_link_tag    "application" %>

<!-- Auxiliary stylesheets, etc -->
<%= yield(:head) %>

<!-- Javascript -->
<script type="text/javascript" src="http://code.jquery.com/jquery-1.6.min.js"></script>
<script type="text/javascript" src="http://cdn.jquerytools.org/1.2.5/all/jquery.tools.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"></script>

<%= javascript_include_tag 	'application'%> 

<!-- Shortcut Icons -->
<link rel="shortcut icon" href="/images/favicon.ico" />
<link rel="icon" 		  href="/images/favicon.ico" />	

<!--[if IE 6]>
<style type="text/css">
	.learn-area
	{
		padding-top:16px;
	}
</style>
<![endif]-->

<style type="text/css">
.left-widget
{
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	-o-border-radius:8px;
	border-radius:8px;
	behavior:url(PIE.htc);
}

.main-right
{
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	-o-border-radius:8px;
	border-radius:8px;
	behavior:url(PIE.htc);
}
</style>

</head>

<% if user_signed_in? %>
<body id="inner1-body">
<% else %>
<body>
<% end %>
<div id="wrapper"><!--wrapper start-->
	<div id="header"><!--header start-->
		<div class="header-top"><!--header-top start-->
			<% if user_signed_in? %>
				<div class="inner-top-right"><!--inner-top-right start-->
					<strong>Welcome:</strong> <%= current_user.email %> <strong><%= link_to "(Logout)", destroy_user_session_path %></strong>
				</div><!--inner-top-right end-->
			<% else %>
				<div class="top-right"><!--top-right start-->        
					<div class="resize">
						<a class="fontblk" id="large" title="Increase Font Size"></a>
						<a class="fontblk" id="small" title="Decrease Font Size"></a>
					</div>

					<div class="auth-button">
						<ul>
							<li><%= link_to 'SIGN UP', new_user_registration_path %></li>
							<li><%= link_to 'LOG IN', new_user_session_path %></li>
						</ul>
					</div>

				</div><!--top-right end-->
			<% end %>
		</div><!--header-top end-->

		<div id="menu-tabs" class="menu">
			<ul id="maintab" class="basictab">
				<li <%= tab(@tab=="home"		) %> rel="homepage">	<%= link_to 'Home', 		root_path %> </li>	 
				<li <%= tab(@tab=="corr"		) %> rel="corr">		<%= link_to 'Correlations',	majors_path %> </li>	 
				<li <%= tab(@tab=="macro"		) %> rel="macro">		<%= link_to 'Macro', 		shiller_dash_path %> </li>	 
				<li <%= tab(@tab=="learn"		) %> rel="learn">		<%= link_to 'Learn', 		primer_path %> </li>	 
				<li <%= tab(@tab=="support"		) %> rel="support">		<%= link_to 'Support', 		support_path %> </li>	 
				<li <%= tab(@tab=="account"		) %> rel="account">		<%= link_to 'My Account', 	root_path %> </li>	 
				<li>&nbsp;</li>
			</ul>

			<div class="submenu"><!--submenu start-->

				<div class="submenu-left">

					<div id="homepage" class="submenustyle">
						<ul>							
							<li <%= sub(@sub=="manage"		)%>><%= link_to 'Dashboard',	root_path %></li>
						</ul>	
					</div>
					<div id="corr" class="submenustyle">
						<ul>							
							<li <%= sub(@sub=="all"			)%>><%= link_to 'Main',					majors_path %></li>
							<li <%= sub(@sub=="bonds"		)%>><%= link_to 'Bond',					bonds_path %></li>
							<li <%= sub(@sub=="sectors" 	)%>><%= link_to 'S&P Sectors',			sectors_path %></li>
							<li <%= sub(@sub=="countries"	)%>><%= link_to 'International',		international_path %></li>
						</ul>	
					</div>
					<div id="macro" class="submenustyle">
						<ul>							
							<li <%= sub(@sub=="dash"		)%>><%= link_to 'Summary',				shiller_dash_path %></li>
							<li <%= sub(@sub=="db"			)%>><%= link_to 'Database',				macrovals_path %></li>
						</ul>	
					</div>
					<div id="learn" class="submenustyle">
						<ul>
							<li <%= sub(@sub=="primer"  	)%>><%= link_to 'Primer',				primer_path %></li>					
						</ul>
					</div>
					
					
					<div id="support" class="submenustyle">
						<ul>
							<li <%= sub(@sub=="faq"		)%>><%= link_to 'FAQ',						support_path %></li>					
						</ul>
					</div>
					
					<div id="account" class="submenustyle">
						<ul>
							<li <%= sub(@sub=="ports"		)%>><%= link_to 'My Portfolios',		portfolios_path %></li>					
							<li <%= sub(@sub=="profile"		)%>><%= link_to 'My Profile',			user_path( :id => current_user || 1) %></li>					
						</ul>
					</div>
															

				</div><!--submenu-left end-->
				<div class="submenu-icon submenustyle"><a href="#"><img src="/assets/new-icon.png" width="32" height="32" alt="" /></a></div>
	        	<div class="clr"></div>

			</div><!--submenu end-->				
		</div>  <!-- End of Menu Tabs -->
		
		<div class="breadcum-area"><!--breadcum start-->
			<div class="breadcum-left">
				<span class="home-icon"><a href="/"><img src="/assets/home-icon.png" width="25" height="23" alt="" /></a></span>
				<div class="breadcum-link">
					/ <%= (render_breadcrumbs :separator => ' / ').html_safe %>
				</div>
			</div>
			<% if user_signed_in? %>
			<div class="breadcum-right">

			</div>
			<% end %>
		</div><!--breadcum end-->

		<%= flash_messages  %>
		
	</div> <!--header end-->

	<!--Content Block -->
	<div class="page-content">
		<div class="white-box-with-margins">
			<%= content_for?(:content) ? yield(:content) : yield %>
		</div>
	</div>

	<div><img src="/assets/trans.png" width="1" height="10" alt="" />&nbsp;</div>

	<div class="clr"></div>

	<div id="footer"><!--footer start-->
		&copy; <%= Date.today.year %> AssetCorrelation |
		<span>Andy Vitus</span>
	</div><!--footer end-->

</div><!--wrapper end-->

<!-- Start of Menu Tab Code  -->
<% if user_signed_in? %>
	<script type="text/javascript">
		//initialize tab menu, by passing in ID of UL
		initalizetab("maintab")
	</script>	
<% end %>

</body>


<script type="text/javascript" charset="utf-8">
  var is_ssl = ("https:" == document.location.protocol);
  var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
  document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
</script>

<!-- Get Satisfaction Feedback Widget -->
<script type="text/javascript" charset="utf-8">
  var feedback_widget_options = {};
  feedback_widget_options.display = "overlay";  
  feedback_widget_options.company = "assetcorrelation";
  feedback_widget_options.placement = "right";
  feedback_widget_options.color = "#222";
  feedback_widget_options.style = "problem";
  var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
</script>

</html>

